.abouttitle{
    color: #2d2d2d;
    margin-bottom: 10px;
    display: block;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-family:'Crimson Text',"Yu Mincho Medium", "游明朝体", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

